* {
	color: #ECF0F1;
}

body, #input {
	background-color: #303030;
}

#navbar, #scramDiv {
	background-color: #212121;
}

#navbar {
	box-shadow: 0px 5px 5px rgba(200, 200, 200, 0.05);
}

#scramDiv {
	box-shadow: 0px -5px 5px rgba(200, 200, 200, 0.05);
}

#timesListDiv, #aboutDiv {
	background-color: #212121;
}

#timesList, #bestResultList, #sessionList, #about {
	background-color: #151515;
}

#sessionTable tr td {
	border: 1px solid #212121;
}

#keyShortcutTable tr td, #keyShortcutTable tr th {
	border: 1px solid #212121;
}

#input, #scramSelect {
	border: 1px solid #ECF0F1;
	background-color: #424242;
}

#navbar ul li:hover  {
	background-color: #303030;
}

#closeDiv:hover {
	background-color: #151515;
}

#pen_OK:hover, #pen_p2:hover, #pen_DNF:hover, #del:hover, #reset:hover, #lastScram:hover, #nextScram:hover {
	background-color: #252525;
}

#inspectionDiv {
  background-color: #303030;
}

#avgCountInput {
	border: 1px solid #ECF0F1;
	background-color: #151515;
}

#notificationDiv {
	background-color: #343434;
	box-shadow: 0px 10px 10px rgba(200, 200, 200, 0.05);
}

#closeNotfDiv:hover {
	background-color: #3b3b3b;
}

.cell:hover {
	background-color: #212121;
}
